/* Container for the admin login form */
.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background-color: #f0f0f0;
  }
  
  /* Style for the form */
  .admin-login-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 82%;
    max-width: 18rem;
  }
  
  /* Title of the form */
  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Label styling */
  .form-label {
    display: block;
    margin-bottom: 1rem;
    color: #555;
    font-weight: bold;
  }
  
  /* Input field styling */
  .form-input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Button styling */
  .form-button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1vh auto;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex !important;
    margin: 1rem auto !important;
  }
  
  /* Button hover effect */
  .form-button:hover {
    background-color: #0056b3;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    z-index: 100000;
  }

  
  @media screen and (max-width:500px) {
    .admin-login-container{
      width: 100vw;
      margin: 0;
      padding: 0;
    }
    .admin-login-form{
      width: 100%;
      min-width: 80vw;
      margin: 0;
      padding: 1vh 10vw;
      height: 100%;
      box-shadow: none

    }
  }